@page
@model Bodea_Denis.Pages.Dotari.DeleteModel

@{
    ViewData["Title"] = "Stergere dotari";
}

<h1>Delete</h1>

<h3>Sigur doriti sa stergeti?</h3>
<div>
    <h4>Dotare</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dotare.DotareNume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dotare.DotareNume)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Dotare.ID" />
        <input type="submit" value="Stergere" class="btn btn-danger" /> |
        <a asp-page="./Index">Inapoi la pagina principala</a>
    </form>
</div>
