@page
@model Bodea_Denis.Pages.Masini.CreateModel

@{
    ViewData["Title"] = "Adaugare masina";
}

<h1>Adaugare masina</h1>

<h4>Masina</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Masina.Marca" class="control-label"></label>
                <input asp-for="Masina.Marca" class="form-control" />
                <span asp-validation-for="Masina.Marca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Masina.Model" class="control-label"></label>
                <input asp-for="Masina.Model" class="form-control" />
                <span asp-validation-for="Masina.Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Masina.Culoare" class="control-label"></label>
                <input asp-for="Masina.Culoare" class="form-control" />
                <span asp-validation-for="Masina.Culoare" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Masina.An" class="control-label"></label>
                <input asp-for="Masina.An" class="form-control" />
                <span asp-validation-for="Masina.An" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Masina.Tara" class="control-label"></label>
                <input asp-for="Masina.Tara" class="form-control" />
                <span asp-validation-for="Masina.Tara" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Masina.Motor" class="control-label"></label>
                <input asp-for="Masina.Motor" class="form-control" />
                <span asp-validation-for="Masina.Motor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Masina.DataAdaugare" class="control-label"></label>
                <input asp-for="Masina.DataAdaugare" class="form-control" />
                <span asp-validation-for="Masina.DataAdaugare" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Masina.AngajatID" class="control-label">Nume Angajat</label>
                <select asp-for="Masina.AngajatID" class="form-control" asp-items="ViewBag.AngajatID"></select>
                <span asp-validation-for="Masina.AngajatID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="table">
                    <table>
                        <tr>
                            @{
                                int cnt = 0;
                                foreach (var dot in Model.AssignedDotareDataList)
                                {
                                    if (cnt++ % 3 == 0)
                                    {
                                    @:</tr><tr>
                                    }
                                    @:<td>
                                        <input type="checkbox"
                                               name="selectedDotari"
                                               value="@dot.DotareID"
                                               @(Html.Raw(dot.Assigned ? 
                                               "checked=\"checked\"" : "")) />
                                        @dot.DotareID @:  @dot.Nume
                                    @:</td>
                                }
                            @:</tr>
                            }
                        </table>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Creare" class="btn btn-primary" />
                </div>
            </form>
    </div>
</div>

<div>
    <a asp-page="Index">Inapoi la pagina principala</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
